

header {
    padding-top: 15px;  
}
h1 {
    justify-self: center;
    color: rgb(54, 0, 54);
}
h2 {
    color: rgb(194, 0, 0);
    font-size: 1.1em;
}
hr {
    border: 1px solid orange;
    margin: 10px 0px;
}

nav {
    justify-self: right;
    margin-right: 25px;
}
a {
    margin: 0px 10px;
    color: rgb(194, 0, 0);
    text-decoration: none;
}
div {
    padding: 10px;
}

.item-info {
    display: block;
    text-align: right;
}
img {
    display: block;
    margin: 0 auto;
    max-width: 150px;
}
.book {
    
    margin: 0px 50px 0px 15px;
}
footer {
    text-align: center;
}
.vertical-hr {
    display: none;
}



@media screen and (min-width: 700px) {

    #double-nav {
        display: none;
    }
    .vertical-hr {
        border: 1px solid orange;
        margin: 0px 15px;
        display: block;
        height: auto;
        width: 0px;
    }

    .book {
        display: grid;
        grid-template-columns: 0.6fr 15px 0.8fr;
        margin: 25px 0px 75px 0px;
        /* margin: auto 0; */
    }
    img {
        margin: 0 100px;
    }
    .book-display {
    max-width: 80%;
    
    }


}