
* {
box-sizing: border-box;
}

body {
font-size: 20px;
max-width: 1280px;
margin: auto;
padding: 1em;
}

img {
max-width: 100%;
}

hr{
margin-top: 50px;
}

.main-nav {
list-style-type: none;
display: flex;
gap: 2em;
align-items: center;
flex-direction: column;
}

.media-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.media-card-content p {
    display: none;
}
        
.gallery {
    display: flex;
    flex-wrap: wrap;
}
.gallery section {
    flex: 1 1 460px;
}




@media screen and (min-width: 550px) {
    
    .main-nav {
        flex-direction: row;
        height: 100px;
        justify-content: end;
    }

    .media-card {
    flex-direction: row;
    gap: 20px;
    }
    .media-card-content p {
    display: unset;
}





}